/* keyboard settings */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
.keyboard { 
    --key_size: calc(100vw / 25) /* 60px; */;
    --keyboard_clr_background: rgb(201, 201, 201);
    --keyboard_clr_shadow: rgb(201, 195, 195);
    --key_clr_background:  rgb(243, 243, 243);
    --key_clr_shadow: rgb(80, 80, 80);
    --key_clr_text: rgb(0,0,0);
    --key_font: FSung-2,FSung-m,FSung-3,FSung-F,FSung-X,FSung-1,MingLiU,MingLiU-ExtB;
    --key_clr_border: rgb(0,0,0);
    --key_clr_border_hover: rgb(200, 35, 35);
    --key_clr_border_active: rgb(20, 100, 20);     
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body::after{
    position: fixed;
    z-index: -1;
    content:'';
    width: 100vh;
    height: 100vw;
    transform: rotate(90deg);
}
h1{
    color: white;
    font-size: calc(100vw / 20);
    font-family: 'Questrial', sans-serif ;
    text-shadow: 2px 2px 5px black;
    margin-bottom: 20px;
}

.keyboard{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: calc(var(--key_size) / 2);
    border-radius: calc(var(--key_size) / 5);
    background-color: var(--keyboard_clr_background);
    padding: calc(var(--key_size) / 5);
    user-select: none;
    border: calc(var(--key_size) / 25) solid var(--key_clr_border);
    box-shadow: 0 0  calc(var(--key_size) / 10) calc(var(--key_size) / 20) var(--keyboard_clr_shadow);
    font-family: var(--key_font);
}
.functon-row{
    font-size: calc(var(--key_size) / 4);
}
.top-row{
    grid-column: span 2;
    grid-row-start: 1;
}
.second-row{
    padding: 16px;
    grid-column: span 2;
    grid-row-start: 2;
}
.bottom-row{
    display: grid;
    grid-column: span 2;
    grid-row-start: 4;
}

.section{
    display: grid;
    grid-template-rows: repeat(8, var(--key_size));
    grid-gap: calc(var(--key_size) / 10);
    grid-row-start: 3;
}
.section.left{
    grid-template-columns: repeat(25, calc(var(--key_size) / 2));
}
.section.right{

    grid-template-columns: repeat(11, calc(var(--key_size) / 2));
}
.key {
    background-color: var(--key_clr_background);
    border: calc(var(--key_size) / 50) solid var(--key_clr_border);
    border-radius: calc(var(--key_size) / 10);
    grid-column: span 2;
    font-size: calc(var(--key_size) / 2);
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    box-shadow: calc(var(--key_size) / 25) calc(var(--key_size) / 25) calc(var(--key_size) / 25) var(--key_clr_shadow);
}
.key i {
    font-weight: 600;
}
.key .symbol {
    font-family: 'Questrial', sans-serif;
    font-size: .6em;
    height: calc(var(--key_size) / 10);
}
.emptykey{
    grid-column: span 2;
}
.key span{
    /* font-size: .95em; */
}
.key:hover {
    border-color: var(--key_clr_border_hover);
}
.key:active {
    margin: calc(var(--key_size) / 25) 0 0 calc(var(--key_size) / 25);
    border-color: var(--key_clr_border_active);
    box-shadow: none;
}

.key .comp-letter
{
    width: 100%;
    text-align: left;
    vertical-align: top;
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight:normal;
    color: rgb(57, 142, 211);
    font-size: 0.6em;
    height: calc(var(--key_size) / 20);
    font-family: 'Questrial', sans-serif;
}

.key .category-key
{
    font-size: calc(var(--key_size) / 3.5);
}
.backspace  {grid-column: span  4;}
.tab        {grid-column: span  3;}
.backslash  {grid-column: span  3;}
.capslock   {grid-column: span  4;}
.enter      {grid-column: span  4;}
.leftshift  {grid-column: span  5;}
.rightshift {grid-column: span  5;}
.leftctrl   {grid-column: span  3;}
.rightctrl  {grid-column: span  3;}
.space      {grid-column: span 20;}